@import '~styles/variables.less';
@import '~styles/mixin.less';

.acm__main__header {
  background: @white;
  border-bottom: 1px solid #e8e8e8;
  .acm__main__header__title {
    margin-top: 0.5em;
    font-weight: normal !important;
    padding: 0 24px;
  }

  .acm__main__header__divider {
    margin: 0;
  }
}

:global {
  :local(.acm__main__header) {
    .ant-breadcrumb {
      padding: 24px 24px 0 24px;
    }
  }
}
