:global {
  :local(.acm__search__criteria) {
    .ant-card-body {
      padding: 0;
    }
  }
}

.acm__search__criteria {
  .acm__search__title {
    padding: 1em 1em 0.5em 1em;
    border-bottom: 1px solid #e8e8e8;
  }
  .acm__search__content {
    padding: 1em;
  }
}
