@import '~styles/variables.less';

:global {
  :local(.acm__search__modal__common) {
    input {
      &:read-only {
        cursor: pointer;
      }
    }
    & + .ant-form-item-children-icon {
      margin-right: 40px;
    }
  }
  :local(.acm__search__modal__common__popup) {
    .ant-modal-body {
      padding: 0;
      background: @layout-body-background;
    }
  }
}
