@import '~styles/mixin';
@import '~styles/variables';

&.app__sidebar__header {
  height: @layout-header-height;
  line-height: @layout-header-height;
  padding-left: 24px;
  .box-shadow(0 1px 4px rgba(0, 21, 41, 0.5));
  .app__sidebar__header__link {
    display: inline-block;
    height: @layout-header-height / 2;
    vertical-align: middle;
    svg {
      height: @layout-header-height / 2;
    }
  }
}
