@import '~styles/variables.less';
@import '~styles/mixin.less';

:global {
  :local(.acm__action__button) {
    &.ant-btn {
      &.ant-btn-cirle-outline {
        .box-shadow(none);
      }
      &.ant-btn-lg {
        font-size: @font-size-lg + 2px;
      }
      &.ant-btn-sm {
        font-size: @font-size-base + 2px;
      }
      border: none;
      .box-shadow(@shadow-1-down);
    }
  }
}
