@import '~styles/variables.less';
@import '~styles/mixin.less';

:global {
  :local(.acm__button) {
    &.ant-btn {
      &.ant-btn-warn {
        color: @white;
        background-color: @warning-color;
        border-color: @warning-color;
      }
      &.ant-btn-blue {
        color: @white;
        background-color: @processing-color;
        border-color: @processing-color;
      }
      &.ant-btn-gray {
        color: @white;
        background-color: @gray-color;
        border-color: @gray-color;
      }
      &.ant-btn-success {
        color: @white;
        background-color: @success-color;
        border-color: @success-color;
      }
    }
  }
}
