@import '~styles/mixin';

.app__header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0;
  .box-shadow(@header-shadow);
  z-index: 1;

  .app__header__trigger {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 0 12px;

    .app__header__trigger__button {
      cursor: pointer;
    }
  }
  .app__header__user__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    @media screen {
      @media (max-width: 768px) {
        &.menu__collapsed {
          left: 290px !important;
        }
      }
    }
  }
}
