@import '~antd/lib/style/themes/default.less';

@primary-color: #144062; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #2aceaa; // success state color
@warning-color: #f19b2f; // warning state color
@error-color: #ff4d4f; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers

// Layout
@layout-body-background: #f0f2f5;
@layout-header-background: @primary-color;
@layout-header-height: 64px;

// SideBar
@menu-dark-submenu-bg: @primary-color;

// Base background color for most components
@component-background: #fff;

// Shadow
@shadow-color: rgba(0, 0, 0, 0.15);
@shadow-color-inverse: @component-background;
@box-shadow-base: @shadow-1-down;
@shadow-1-up: 0 -2px 8px @shadow-color;
@shadow-1-down: 0 2px 8px @shadow-color;
@shadow-1-left: -2px 0 8px @shadow-color;
@shadow-1-right: 2px 0 8px @shadow-color;
@shadow-2: 0 4px 12px @shadow-color;

//Button
@btn-height-base: 40px;
@btn-height-lg: 48px;
@btn-height-sm: 32px;
@font-size-base: 14px;
@warning-color-hover: rgba(241, 155, 47, 0.4);
@primary-color-hover: rgba(20, 64, 98, 0.4);
@danger-color-hover: rgba(255, 77, 79, 0.4);
@btn-danger-bg: color(~`colorPalette('@{error-color}', 6) `);
@btn-danger-border: color(~`colorPalette('@{error-color}', 6) `);

@btn-danger-border: #ec4042;
@btn-warning-border: #ff8f00;
@btn-icon-primary: #147bd1;
@btn-icon-primary-hover: rgba(20, 123, 209, 0.4);
@btn-icon-warning: #ed8a0b;
@btn-icon-warning-hover: #ff8f00;
@btn-icon-danger: #ff4d4f;
@btn-icon-danger-hover: #ff4d4f;
@btn-icon-option: #666666;
@btn-icon-option-hover: #c7c7c7;
@btn-icon-success: #2aceaa;
@btn-icon-default: #ffffff;
@btn-icon-disable: #c7c7c7;

// Input
// ---
@input-height-base: 40px;
@input-height-lg: 48px;
@input-height-sm: 32px;

// Checkbox
@checkbox-size: 16px;
@checkbox-color: @primary-color;
@checkbox-check-color: #fff;
@checkbox-border-width: @border-width-base;

// Tooltip
// ---
// Tooltip max width
@tooltip-max-width: 250px;
// Tooltip text color
@tooltip-color: #fff;
// Tooltip background color
@tooltip-bg: @primary-color;
// Tooltip arrow width
@tooltip-arrow-width: 5px;
// Tooltip distance with trigger
@tooltip-distance: @tooltip-arrow-width - 1px + 4px;
// Tooltip arrow color
@tooltip-arrow-color: @tooltip-bg;

// Progress
@progress-default-color: @processing-color;
@progress-remaining-color: @background-color-base;
@progress-text-color: @text-color;
@progress-radius: 100px;

// Breadcrumb
// ---
@breadcrumb-base-color: @text-color-secondary;
@breadcrumb-last-item-color: @primary-color;
@breadcrumb-font-size: @font-size-base;
@breadcrumb-icon-font-size: @font-size-base;
@breadcrumb-link-color: @text-color-secondary;
@breadcrumb-link-color-hover: @primary-5;
@breadcrumb-separator-color: @text-color-secondary;
@breadcrumb-separator-margin: 0 @padding-xs;

// Card
// ---
@card-shadow: 0 6px 9px 0 rgba(144, 164, 183, 0.22);
@card-radius: @border-radius-base;
// Header
@header-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

// Table
// ---
@table-row-hover-bg: #f0f3f4;
