@import 'variables';

@ant-prefix: ant;

.ant-layout-content {
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

//-------- Color -----------
// @body-background: @color-white;
// @primary-color: @purple-10;

//-------- font --------

@font-family: 'Roboto', sans-serif;
