@import 'variables';

.transition-properties(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}
.box-shadow(@shadow: @shadow-1-down) {
  -webkit-box-shadow: @shadow !important;
  -moz-box-shadow: @shadow !important;
  box-shadow: @shadow !important;
}
