@import '~styles/variables';

.acm__table {
}

:global {
  :local(.acm__table) {
    .ant-table-row {
      &.acm__row__odd {
        td {
          background: @table-row-odd-bg;
        }
      }
    }
  }
}
