@import '~antd/lib/style/themes/default.less';

.totalRecordsFound {
  margin-bottom: 0.5rem;
  width: auto;
  text-align: right;
  span {
    font-weight: 700;
  }
  position: relative;
  float: left;
  top: 25%;
  align-self: center;
}

.cardTable {
  margin-top: 0.5rem;
}

.background {
  border-radius: 6px;
  background-color: #fff;
}

.paginationConfig {
  display: inline-flex;
  height: 30px;
  border-radius: 3px;
  // border: solid 1px #c7c7c7;
}

.paginationConfigCell {
  display: flex;
  align-items: center;
  // padding: 2px 10px;
}

.paginationConfigCellIcon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: @primary-color;
}

.paginationText {
  font-family: HelveticaNeue, OpenSans, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: right;
  // color: #999;
}

.dataTable {
  tr th {
    background-color: #f5f5f5;
  }

  table {
    border: solid 1px #e6e6e6;
  }
}

.dataTable_even_odd {
  tr th {
    background-color: #f5f5f5;
  }

  table {
    border: solid 1px #e6e6e6;
  }

  tbody {
    tr:nth-child(even) {
      background-color: #f5f5f5;
    }
    tr:nth-child(odd) {
      background-color: #fff;
    }
  }

  .isDeleted {
    td {
      text-decoration: line-through;
      color: grey;
    }
  }
}
