@import '~styles/variables.less';

// black bg
.acm__spin_black .ant-spin {
  background-color: @primary-color;
}
.acm__spin_black .ant-spin .anticon {
  color: @layout-trigger-color;
}

// white bg
.acm__spin_white .ant-spin {
  background-color: @layout-trigger-color;
}
.acm__spin_white .ant-spin .anticon {
  color: @primary-color;
}
