@import '~styles/mixin';

.app__header__user {
  display: inline-block;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;

  & .app__header__avatar {
    margin: 11px 5px 20px 0;
    vertical-align: top;
  }
}

@media screen {
  @media (max-width: 576px) {
    .app__header__name {
      display: none !important;
    }
  }
}
