@import '~styles/variables.less';

:global {
  :local(.acm__message__modal) {
    .acm-modal-content {
      margin: 15px 0;
    }
    .ant-typography {
      margin-bottom: 0;
    }
    .acm-modal-message {
      font-size: @font-size-base + 3px;
      font-weight: 400;
    }
    .acm-modal-icon {
      font-size: 3em;
    }
    &.acm-modal-primary {
      .acm-modal-icon {
        color: @primary-color;
      }
    }
    &.acm-modal-danger {
      .acm-modal-icon {
        color: @error-color;
      }
    }
    &.acm-modal-warn {
      .acm-modal-icon {
        color: @warning-color;
      }
    }
    &.acm-modal-success {
      .acm-modal-icon {
        color: @success-color;
      }
    }
  }
}
