@import '~styles/variables.less';

:global {
  :local(.acm__modal) {
    .ant-modal-close {
      color: @white;
    }
    .ant-modal-header {
      .ant-modal-title {
        h4 {
          color: @white;
          margin-bottom: 0;
        }
      }
    }
    &.acm-modal-primary {
      .ant-modal-header {
        background: @primary-color;
      }
    }
    &.acm-modal-danger {
      .ant-modal-header {
        background: @error-color;
      }
    }
    &.acm-modal-warn {
      .ant-modal-header {
        background: @warning-color;
      }
    }
    &.acm-modal-success {
      .ant-modal-header {
        background: @success-color;
      }
    }
  }
}
