@import '~styles/mixin';

&.app_sidebar_container {
  & .app_sidebar {
    height: 100%;
  }
}
:global {
  :local(.app_sidebar_container) {
    .oc-scrollbar-container {
      height: calc(100vh - 64px);
      margin: 5px 0;
    }
    .ant-menu {
      overflow: hidden;
    }
    .ant-menu-inline {
      .ant-menu-sub {
        .box-shadow('none');
      }
    }
  }
}
