@import '~styles/mixin';

.acm__menu__submenu {
  :global {
    .ant-menu-submenu-title {
      &:hover {
        .ant-menu-submenu-arrow {
          opacity: 1;
          &:before,
          &:after {
            background: #ffffff;
          }
        }
      }
    }
    .ant-menu-inline {
      &.ant-menu-sub {
        .box-shadow(none);
      }
    }
  }
}
