@import '~styles/variables.less';

.acm__exception {
  display: flex;
  align-items: center;
  height: 100%;
  height: calc(100vh - 10rem);
  & .acm__exception__image__wrapper {
    flex: 0 0 62.5%;
    width: 62.5%;
    padding-right: 152px;
    zoom: 1;
    .acm__exception__img {
      float: right;
      width: 100%;
      max-width: 430px;
      height: 360px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  & .acm__exception__content {
    flex: auto;

    h1 {
      color: #434e59;
      font-size: 72px;
      font-weight: 600;
      line-height: 72px;
      margin-bottom: 24px;
    }

    .acm__exception__content__description {
      color: @text-color-secondary;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }

    .acm__exception__content__actions {
      button:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
